<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campaign Manager - Home</title>
    <link rel="stylesheet" href="/static/{{css_file}}" />
    <script type="module" src="/static/{{js_file}}"></script>
</head>
<body>
    <div id="header">
        <a id="back-to-home" href="/campaigns/">
            <h2>Campaign Manager</h2>
        </a>
        <div id="user-actions">
            <a href="/campaigns/">My Campaigns</a>
            <a href="/users/logout/">Sign Out</a>
        </div>
    </div>
    <h1>New Character</h1>
    <form id="new-campaign" action="" method="post">
        {% csrf_token %}
        <label>
            Character Name
            <input type="text" name="name" id="character-name" required />
        </label>
        <label>
            Race
            <input type="text" name="race" id="character-race" value="Human" />
        </label>
        <label>
            Class
            <input type="text" name="clazz" id="character-class" />
        </label>
        <label>
            Level
            <input type="number" name="level" id="character-level" />
        </label>
        <label>
            From Location
            {% if locations %}
                <select name="from_location" id="character-from-location">
                    {% for location in locations %}
                        <option value="{{location.id}}">{{location.name}}</option>
                    {% endfor %}
                </select>
            {% else %}
                <em>No locations have been added to this campaign.</em>
            {% endif %}
        </label>
        <label>
            Organizations
            {% if organizations %}
                <select name="organizations" id="character-organizations" multiple>
                    {% for organization in organizations %}
                        <option value="{{organization.id}}">{{organization.name}}</option>
                    {% endfor %}
                </select>
            {% else %}
                <em>No organizations have been added to this campaign.</em>
            {% endif %}
        </label>
        <label>
            Related Characters
            {% if characters %}
                <select name="related_characters" id="character-related-characters" multiple>
                    {% for character in characters %}
                        <option value="{{character.id}}">{{character.name}}</option>
                    {% endfor %}
                </select>
            {% else %}
                <em>No characters have been added to this campaign.</em>
            {% endif %}
        </label>
        <label id="npc-hostility">
            Hostility
            <select name="hostility" id="character-hostility">
                <option value="F">Friendly</option>
                <option value="N">Neutral</option>
                <option value="H">Hostile</option>
            </select>
        </label>
        <label>
            Description
            <textarea name="description" id="character-description"></textarea>
        </label>
        <button>Save and Return</button>
    </form>
</body>
</html>
