<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campaign Manager - Home</title>
    <link rel="stylesheet" href="/static/{{css_file}}" />
    <script type="module" src="/static/{{js_file}}"></script>
</head>
<body>
    <div id="header">
        <a id="back-to-home" href="/campaigns/">
            <h2>Campaign Manager</h2>
        </a>
        <div id="user-actions">
            <a href="/campaigns/">My Campaigns</a>
            <a href="/users/logout/">Sign Out</a>
        </div>
    </div>
    <h1>General Notes in {{current_campaign.name}}</h1>
    <a class="new-button" href="new/">New Note</a>
    {% if notes %}
        {% for note in notes %}
            <div class="info-card note-card">
                <h3><a href="{{note.id}}/">{{note.title}}</a></h3>
                <p>{{note.content}}</p>
                {% if note.start_time or note.end_time %}
                    <p>{{note.start_time}} - {{note.end_time}}</p>
                {% endif %}
                {% if note.race or note.clazz or note.level %}
                    <p>Level {{note.level}} {{note.race}} {{note.clazz}}</p>
                {% endif %}
                {% if note.hostility %}
                    <p>{{{"F": "Friendly", "N": "Neutral", "H": "Hostile"}[note.hostility]}} Hostility</p>
                {% endif %}
                {% if note.locations %}
                    <p>Locations: 
                        <ul>
                            {% for location in note.locations %}
                                <li><a href="/campaigns/{{current_campaign.id}}/locations/{{location.id}}/">{{location.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
                {% if note.organizations %}
                    <p>Organizations: 
                        <ul>
                            {% for organization in note.organizations %}
                                <li><a href="/campaigns/{{current_campaign.id}}/organizations/{{organization.id}}/">{{organization.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
                {% if note.characters %}
                    <p>Characters: 
                        <ul>
                            {% for character in note.characters %}
                                <li><a href="/campaigns/{{current_campaign.id}}/characters/{{character.id}}/">{{character.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No notes have been created for this campaign.</p>
    {% endif %}
</body>
</html>
