<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campaign Manager - Home</title>
    <link rel="stylesheet" href="/static/{{css_file}}" />
    <script type="module" src="/static/{{js_file}}"></script>
</head>
<body>
    <div id="header">
        <a id="back-to-home" href="/">
            <h2>Campaign Manager</h2>
        </a>
        <div id="user-actions">
            <a href="/campaigns/">My Campaigns</a>
            <a href="/users/logout/">Sign Out</a>
        </div>
    </div>
    <h1>Add Location</h1>
    <form id="new-location" action="" method="post">
        {% csrf_token %}
        <label>
            Name
            <input type="text" name="name" id="location-name" required />
        </label>
        <label>
            Hostility
            <select name="hostility" id="location-hostility" required>
                <option value="F">Friendly</option>
                <option value="N" selected>Neutral</option>
                <option value="H">Hostile</option>
            </select>
        </label>
        <label>
            Neighboring Locations
            {% if locations %}
                <em>Hold Ctrl to select multiple</em>
                <select name="neighboring_locations" id="location-neighbors" multiple>
                    {% for location in locations %}
                        <option value="{{location.id}}">{{location.name}}</option>
                    {% endfor %}
                </select>
            {% else %}
                <em>No other locations have been added to this campaign.</em>
            {% endif %}
        </label>
        <label>
            Description
            <textarea name="description" id="location-description"></textarea>
        </label>
        <button>Save and Return</button>
    </form>
</body>
</html>
