<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campaign Manager - Home</title>
    <link rel="stylesheet" href="/static/{{css_file}}" />
    <script type="module" src="/static/{{js_file}}"></script>
</head>
<body>
    <div id="header">
        <a id="back-to-home" href="/campaigns/">
            <h2>Campaign Manager</h2>
        </a>
        <div id="user-actions">
            <a href="/campaigns/">My Campaigns</a>
            <a href="/users/logout/">Sign Out</a>
        </div>
    </div>
    <h1>Add Location</h1>
    <form id="new-location" action="" method="post">
        {% csrf_token %}
        <label>
            Name
            {{ form.name }}
        </label>
        <label>
            Hostility
            {{ form.hostility }}
        </label>
        <label>
            Neighboring Locations
            {{ form.neighboring_locations }}
        </label>
        <label>
            Description
            {{ form.description }}
        </label>
        <button>Save and Return</button>
    </form>
</body>
</html>
